*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-x pan-y;
}

.page-wrapper{
    min-height: 100vh;
    max-width: 420px;
    margin: 0 auto;
}

.part img{
    display: block;
    width: 100%;
}